# Mac stuff
.DS_Store

# Don't clutter with this stuff (useful for development, but not for production)
*/.ipynb_checkpoints/*
.ipynb_checkpoints/*
**.ipynb
**/*.pyc

# local files are meant to be local
local

# ignore all assets but the relevant icons
assets/*
!assets/event-svg
!assets/list_ids
!assets/pdf
